.sidebar {
    background-color: #444;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    color: white;
}

.header {
    font-weight: normal;
    margin-bottom: 5px;
}

.search {
    display: block;
    padding: 10px 15px;
    margin: 15px 0;
    border-radius: 8px;
    border: 2px solid lightblue;
    font-size: 18px;

    &:focus {
        outline: none;
    }
}

label[for="f"] {
    margin-right: 40px;
}

.radio,
label {
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .sidebar {
        padding-left: 0;
        padding-right: 0;
    }

    .header {
        text-align: center;
        padding: 20px 0 25px 0;
        line-height: 40px;
        font-size: 38px;
        letter-spacing: 4px;
    }

    form {
        padding: 25px;
        background-color: steelblue;
        text-align: center;
    }

    .search {
        width: 100%;
        margin-bottom: 10px;
    }

    input[type="radio"] {
        margin-right: 5px;
    }
}