.sidebar {
    margin: 20px 20px 0 20px;
    border-radius: 8px;
    color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .4);
}

.header {
    background-color: #222;
    font-weight: normal;
    margin-bottom: 5px;
    margin-top: 20px;
    padding: 8px 0 8px 20px;
}

form {
    padding: 0 0 20px 20px;
}

.search {
    display: block;
    padding: 10px 15px;
    margin: 15px 0;
    border-radius: 8px;
    border: 2px solid lightblue;
    font-size: 18px;

    &:focus {
        outline: none;
    }
}

label[for="f"] {
    margin-right: 40px;
}

.radio,
label {
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .sidebar {
        padding-left: 0;
        padding-right: 0;
        margin: 0 0 0 20px;
        border-radius: 5px;
        background-color: #222;
        box-shadow: unset;
    }

    .header {
        text-align: center;
        padding: 20px 0 25px 0;
        margin: 0;
        line-height: 40px;
        font-size: 38px;
        letter-spacing: 4px;
    }

    form {
        padding: 25px;
        text-align: center;
    }

    .search {
        width: 100%;
        margin-bottom: 10px;
    }

    input[type="radio"] {
        margin-right: 5px;
    }
}