.item {
    background-color: lightblue;
    border-radius: 8px;
    padding: 10px 20px 0 20px;
    color: #333;
    margin-bottom: $bot-margin-lg;    
    
    &__container {
        position: relative;
        margin-bottom: $bot-margin-sm;

        &::after {
            content: '';
            display:  table;
            clear: both;
        }
    }

    &__location {
        font-size: 32px;
        margin-bottom: 3px;
    }

    &__summary {
        margin-bottom: 10px;
        font-weight: bold;
    }

    &__temp {
        font-size:  13px;
    }
}

.toggle {
    cursor: pointer;
    float: right;

    &-box {
        position: absolute;
        width: 100%;
        bottom: 0;
    }
}

.forecast {

    &__container {
        max-height: 0;
        overflow: hidden;
        margin-top: 15px;
        transition: $transition-time;
    }

    &__info {
        text-align: center;
        margin: 0 25px 15px 25px;
        padding-bottom: 15px;
        border-bottom: 1px solid lightcyan;  
    }

    &__summary {
        margin-bottom: 10px;
        font-weight: bold;
    }

    &__temp {
        font-size:  13px;
    }

    &__show {
        max-height: 1000px;
    }
}

@media only screen and (min-width: 768px) {

    .forecast {
        &__info {
            position: relative;
            text-align: unset;
            margin: unset;
            border-bottom: unset;
            padding-left: 10px;
            cursor: pointer;

            &::after {
                content: '';
                position: absolute;
                left: 50%;
                bottom: 0;
                width: 0;
                height: 4px;
                background-color: lightcyan;
                transition: $transition-time;
            }

            &:hover::after {
                width: 100%;
                left: 0;
            }
        }

        &__show {
            padding: 15px;
        }
    }
}